:block(form) {
    background-color: #fff;

    &:elem(header) {
        position: relative;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &:elem(title) {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;

        margin-top: 0;
        margin-bottom: 0;
    }

    &:elem(desc) {
        position: relative;
        display: inline-block;

        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: #aaa;
    }

    &:elem(action) {
        box-sizing: border-box;
        margin-top: 32px;
        padding-top: 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    &:elem(action-item) {
        margin-top: 8px;
    }
}
