:block(form-field) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    padding-bottom: 16px;

    &:last-child {
        padding-bottom: 0;
    }

    &:elem(label) {
        box-sizing: border-box;

        max-width: 200px;
        width: 30%;

        padding-right: 16px;

        text-align: right;

        transition: all .2s ease-out;

        &:hover{
            cursor: pointer;
        }
    }

    &:elem(input) {
        flex-grow: 1;
    }
}

@media (--small-only) {
    :block(form-field) {
        &:elem(label), &:elem(input) {
            max-width: 100%;
            width: 100%;

            text-align: left;
        }
    }
}
