:block(catalog) {
    &:elem(content) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-left: -7px;
        margin-right: -7px;
    }

    &:elem(item) {
        width: 100%;
        overflow: hidden;
    }
}


@media (--large) {
    :block(catalog) {
        &:elem(item) {
            width: 50%;
        }
     }
}
